bind 127.0.0.1
port 6379
daemonize no
supervised systemd
databases 16
save 900 1
save 300 10
save 60 10000
rdbcompression yes
rdbchecksum yes
dir /var/lib/redis
maxmemory 256mb
maxmemory-policy allkeys-lru
