[Interface]
PrivateKey = {{ .WireGuardPrivateKey }}
Address = {{ .WireGuardAddress }}
ListenPort = {{ .WireGuardPort }}

[Peer]
PublicKey = {{ .WireGuardPeerPublicKey }}
AllowedIPs = {{ .WireGuardPeerAllowedIPs }}
Endpoint = {{ .WireGuardPeerEndpoint }}
