[Unit]
Description=SnapRAID Sync & Scrub
Documentation=https://www.snapraid.it/
After=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/snapraid sync
ExecStartPost=/usr/bin/snapraid scrub -p 10
StandardOutput=journal
StandardError=journal
